<!doctype html>
{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block links %}
    <script src="{{ url_for('static', path='js/search.js') }}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=152fc12c-70ee-4ec5-bc17-d54e5579dc8b&lang=ru_RU&scroll=true"
            type="text/javascript"></script>
    <script src="{{ url_for('static', path='js/map.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/search.css') }}">

    {% endblock %}
    <title id="searchTitle">Страница поиска - PyBooking</title>
</head>

<body>

{% block header %}
<div class="p-lg-3 text-center bg-image" style="height: 40px;">
    {% endblock %}

    {% block content %}

    <div class="d-flex bd-highlight content-all" style="padding-left: 10%; padding-right: 10%;">
        <div class="p-2 flex-fill card stars-rate flex-shrink-0"
             style="height: 18%;">
            <h5 class="font-weight-bold" style="padding: 5%">Звезды</h5>
            <form class="brand col-7 stars-rate-line" style="padding: 5%">
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <div class="small-ratings flex-shrink-0 ">
                        <input class="form-check-input" type="checkbox" value="5" id="stars5"/>
                        {% for i in range(5) %}
                        <i class="fa fa-star rating-color"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <div class="small-ratings flex-shrink-0">
                        <input class="form-check-input" type="checkbox" value="4" id="stars4"/>
                        {% for i in range(4) %}
                        <i class="fa fa-star rating-color"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <div class="small-ratings flex-shrink-0">
                        <input class="form-check-input" type="checkbox" value="3" id="stars3"/>
                        {% for i in range(3) %}
                        <i class="fa fa-star rating-color"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <div class="small-ratings flex-shrink-0">
                        <input class="form-check-input" type="checkbox" value="2" id="stars2"/>
                        {% for i in range(2) %}
                        <i class="fa fa-star rating-color"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                    <div class="small-ratings flex-shrink-0">
                        <input class="form-check-input" type="checkbox" value="1" id="stars1"/>
                        <i class="fa fa-star rating-color"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="p-2 flex-fill bd-highlight content-hotels" style="width: 20%">

            {% if hotels %}
            {% for hotel in hotels %}
            <div class="container d-flex mt-1 p-1 " id="searchResults">
                <div class="card w-100 hotel-card">
                    <div class="row g-0">
                        {% if hotel.images %}
                        <div class="col-md-4 p-0"
                             style="background-image: url('{{hotel.images[loop.first]}}'); background-size: cover; background-repeat: no-repeat; border-bottom-left-radius: 7px; border-top-left-radius: 7px;"></div>
                        {% else %}

                        <div class="col-md-4 p-0"
                             style="background-color: #dbdbdb; border-bottom-left-radius: 7px; border-top-left-radius: 7px; background-size: cover; background-repeat: no-repeat;"></div>
                        {% endif %}


                        <div class="col-md-8">
                            <div class="card-body p-1 m-2">
                                <div class="small-ratings ">
                                    {% for n in range(hotel.stars) %}
                                    <i class="fa fa-star rating-color"></i>
                                    {% endfor %}
                                </div>
                                <h6 class="card-title text-truncate hotel-card-title">
                                    {{hotel.name}}
                                </h6>
                                <p class="card-text mb-2">
                                    {% if hotel.amenities %}
                                    {% for amenity in hotel.amenities %}
                                    <small class="text-body-secondary">
                                        <span class="badge badge-pill badge-info">{{amenity}}</span>
                                    </small>
                                    {% endfor %}
                                    {% else %}
                                    <small class="text-body-secondary">
                                        <span class="badge badge-pill badge-danger">Отсутствует информация по удобствам</span>
                                    </small>
                                    {% endif %}
                                </p>
                                <p class="card-text text-muted mb-0">
                                    <span
                                            class="d-inline-block text-truncate"
                                            style="max-width: 370px; font-size: 14px"
                                            title="{{hotel.location}}">{{hotel.location}}</span></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mb-0"><small>Цена от:</small> <strong>{{hotel.min_price}}₽</strong></p>
                                    <a href="#" class="btn btn-primary btn-sm mb-0"
                                       style="background-color: #005bff; margin-right: 3%">Забронировать</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <nav aria-label="Навигация по страницам">
                <ul class="pagination justify-content-center" id="paginationList">
                </ul>
            </nav>
            {% else %}

            <div class="card mb-3 text-center"
                 style="margin-top: 1.2%; background-color: #f7d9b0; border: solid darkgrey 1px; width: 100%">
                <div class="row g-0">
                    <div class="card-body">
                        <h4 class="card-title">Ничего не найдено</h4>
                        <p class="card-text" style="font-size: 18px">Попробуйте изменить условия поиска. Установите
                            другие даты заезда и выезда, страну, город или регион. </p>
                        <a href="/" class="btn btn-primary" style="background-color: #005bff">На главную</a>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>
        {% if hotels %}
        <div id="map" class="flex-fill map-card">
        </div>
        {% else %}
        <div class="flex-fill map-stub"
             style="margin-bottom: 2%; margin-top: 1.2%;background-color: #c9c9c9; height: 700px; border-radius: 4px; ; width: 12%">


        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    buildPagination('{{pages}}', '{{current_page}}');
</script>
{% endblock %}

</body>
